#bgVid {
  position: fixed;
  margin-left:-680px;
  bottom: -300px;
  top: -200px;
  width: 3000px; 
  height: 1400px;
  z-index: -1;
}

p{   
font-family: 'Cinzel Decorative', cursive;
position:absolute;
background-color: white;
    
padding-left:500px;
}

h1 {
font-family: 'Cinzel Decorative', cursive;
font-size: 90px;
position:absolute;
margin-left:42%;
margin-top:30px;
}



.glow {
  font-size: 90px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #6f6f6f, 0 0 40px #6f6f6f, 0 0 50px #6f6f6f, 0 0 60px #6f6f6f, 0 0 70px #6f6f6f;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #a9a9a9, 0 0 40px #a9a9a9, 0 0 50px #a9a9a9, 0 0 60px #a9a9a9, 0 0 70px #a9a9a9, 0 0 80px #a9a9a9;
  }
}

