 h1,
 h2,
 h3{
    text-shadow: 3px 2px purple;
    font-family"Times new Roman";
 }

 h1{
    font-size: 90px;
 }

 h2{
    font-size: 90px;
 }
 h3{
    font-size: 80px;
 } 

 p{

  background-color: lightgrey;
  width: 1900px;
  border: 25px groove purple;
  padding: 25px;
  margin: 25px;
    
    font-size:50px;
 }