h1,
h2,
h3{
    font-size::80%;
    text-shadow: 3px 2px purple;
    font-family"Times new Roman";
}

h3{
    font-size: 20px;
}

p{

  background-color: lightgrey;
  width: 1900px;
  border: 25px groove purple;
  padding: 25px;
  margin: 25px;
    
    font-size:20px;
}